quiz/migrations/0002_delete_result.py
quiz/migrations/0003_result.py
quiz/migrations/0004_auto_20200825_1952.py
quiz/migrations/0005_auto_20200830_1137.py

quiz/migrations/__pycache__/0002_delete_result.cpython-36.pyc
quiz/migrations/__pycache__/0003_result.cpython-36.pyc
quiz/migrations/__pycache__/0004_auto_20200825_1952.cpython-36.pyc
quiz/migrations/__pycache__/0005_auto_20200830_1137.cpython-36.pyc