{% extends 'quiz/base.html' %}
{% block title %}Quiz{% endblock %}
{% block content %}

<div class="container">
    <br>
    {% if complete %}
    <center><h3>All from questions from the category category are completed</h3></center>
    <br>
    
      <center><a href="{% url 'index' %}">
        <button type="button" style="text-align: center;" class="btn btn-primary">
          Choose Catergory 
        </button>
      </a></center>
    
    {% else %}
    <form method="POST" action="{% url 'result' %}">
        {% csrf_token %}
        <h5>Q - {{ question.question }}</h5>
        {% for a in answer.all %}
        <div class="form-check">
        <input class="form-check-input" type="radio" name="{{ question.id }}" id="{{a.id}}" value="{{a.id}}" required>
        <label class="form-check-label" for="{{a.id}}">
          {{ a.answer }}
        </label>
      </div>
        {% endfor %}
        <hr>
      <br>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
    {% endif %}
</div>
{% endblock %}