{% extends 'QuizwithApi/base.html' %}
{% block content %}
<div class="container">

</div>
<div id="category-list" class= "container">

</div>
<div id ="logindiv" style="display: block;" >
    <div class="container">
        <form action="" id="Loginform">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username">
            </div>
        
            <div class="form-group">
                <label for="username">Password</label>
                <input type="text" class="form-control" id="password">
            </div>
            <input id='login_main' type="button" class="btn btn-primary" onclick="login()" value="Submit">
          </form>
          <br>
          <div class="text-center">

            <button type="button" style="text-align: center;" onclick="LogintoSignup()" class="btn btn-primary">
                SignUp
            </button>
        </div>
    </div>
</div>
<div id ="signupdiv" style="display: none;">
    <div class="container">
      <form action="" id="signupform">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="signupusername">
        </div>
    
        <div class="form-group">
            <label for="username">Password</label>
            <input type="text" class="form-control" id="signuppassword">
        </div>
        <div class="form-group">
            <label for="username">Retype Password</label>
            <input type="text" class="form-control" id="signuppassword2">
        </div>
        <input id='signup_button' type="button" class="btn btn-primary" onclick="signup()" value="Submit">
      </form>
      <br>
      <div class="text-center">

        <button type="button" style="text-align: center;" onclick="SignuptoLogin()" class="btn btn-primary">
            Login
        </button>
    </div>
    </div>
</div>
<div id ="quizdiv" class="container" style="display: none;">
    <!-- <div class="container"> -->
        <form id ="question-form"action="">
        <h3 id="question"></h3>
        <div id="answeroption"></div>
        <br>
        <button class="btn btn-primary">Submit</button>
      </form>
    <!-- </div> -->
</div>
<div class="resultdiv" style="display: none;">
    <div class="container">
        <h3>Results</h3>
        <table class="table">
            <thead class="thead-dark">
               
              <tr>
                <th scope="col">Question</th>
                <th scope="col">Result</th>
              </tr>
            </thead>
            <tbody>
                
              <tr>
                <th scope="row"></th>
                <td class="" id="resultcell"></td>
              </tr>
              
    
            </tbody>
          </table> 
    </div>
</div>

<script>
  
  function showdiv(id)
  {
    
    var val = document.getElementById(id);
    val.style.display = "block"
  }
  function Hidediv(id)
  {
    var val = document.getElementById(id);
    val.style.display = "none"
  }
  function LogintoSignup()
  {
Hidediv('logindiv');    
showdiv('signupdiv');
  }
function SignuptoLogin()
{
  showdiv('logindiv');    
 Hidediv('signupdiv');
}
function login()
 {
  
  var username = document.getElementById('username').value
  var password = document.getElementById('password').value
  console.log(username+password)
//  var postdata = { username: username, password: password, }
 fetch("http://127.0.0.1:8000/api/token/", {
            method: "POST",
            body: JSON.stringify({
                username: username,
                password: password,
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        })
        .then((response) => {
                if (response.ok != true) {
                    alert('Incorrect username or password')
                  
                    return null
                }
                else {
                    return response.json()
                }
            })
            .then((json) => {
              console.log(json.access)
                sessionStorage.setItem('Token', json.access)
                
              getCategory()
            });
     

 }
 function signup()
 {
  var username = document.getElementById('signupusername').value
  var password = document.getElementById('signuppassword').value
  var password2 = document.getElementById('signuppassword2').value
  console.log(username+password+"signup")
  var postdata = { username: username, password: password, password2: password2, }

  fetch("http://127.0.0.1:8000/quizapi/register/", {
            method: "POST",
            body: JSON.stringify(postdata),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        })
            .then((response) => {
              // console.log(response.json)
                 return response.json()

            })
            .then((json) => {
                if (json.access != null) {
                    sessionStorage.setItem('Token', json.access)
                    Hidediv("signupdiv")
                    showdiv('logindiv')
                    
                } 
            });

 
 }
 function getCategory()
 {
  Hidediv('logindiv')
  showdiv('category-list')
// var categoryDiv = document.getElementById('category-list')
// console.log(categoryDiv)
var token = sessionStorage.getItem('Token')

var url = 'http://127.0.0.1:8000/quizapi/categories/'
        var token = sessionStorage.getItem('Token')
      
        fetch(url, {
            method: "GET",
            headers: {
                "Content-type": "application/json; charset=UTF-8",
                // "Authorization": "Token " + token
                "Authorization": 'Bearer ' + token 
            }
        })
        .then((response) => {
            
             return response.json()
          })
        .then(function (data) {
          // console.log(data)
          // categoryDiv.innerHTML = ''
          var categories = data
        //  var categoryDiv = document.getElementById("category-list").innerHTML 
        var HTML = ""
          for(var c in categories)
          {
          console.log(categories[c].id)
           var html = `
            <div id = "category" class=" category-wrapper flex-wrapper">
                        <div style ='flex:7'>
                            <h4 class = 'title'> ${categories[c].title} </h4>
                        </div>
                        <div style ='flex:2'>
                           
                         
                          <button class="btn btn-primary" type="button" id="${categories[c].id}" onclick="startquiz(${categories[c].id})">Start</button>
                        </div>
              </div>
                    `
            HTML = HTML + html
          }
          
          document.getElementById("category-list").innerHTML = HTML

        })

 }
 function startquiz(Item)
 {
   Hidediv('logindiv')
   Hidediv('category-list')
   showdiv('quizdiv')
   var token = sessionStorage.getItem('Token')
        var questionDiv = document.getElementById('question').innerHTML 
        url_1 = "http://127.0.0.1:8000/quizapi/question/"
        url_2 = Item+ "/"
        url = url_1+url_2
        // console.log(url)
        // selectedAnswer = ''
        // correctAnswer = ''

        fetch(url, {
            method: "GET",
            headers: {
                "Content-type": "application/json; charset=UTF-8",
                // "Authorization": "JWT " + token
                "Authorization": 'Bearer ' + token 
            }
        })
        .then((response) => {
                
                    return response.json()

            })
        .then(function (data) {
          if(data == null)
          {
            alert("all questions in the category are completed")
            getCategory()
          }
          else{
           var questions = data;
            // question = question_str.question
            console.log(data[0].question)
            var html = data[0].question
            // questionDiv = questionDiv + html
            document.getElementById('question').innerHTML = "Q. "+ html
            getOptions(data[0].id)

          }
        })
 }
 function getOptions(questionid)
 {
  var token = sessionStorage.getItem('Token')
  url_1 = "http://127.0.0.1:8000/quizapi/ans/"
  url_2 = questionid +"/"
  url = url_1 + url_2
  console.log(url)
  var correct_answer =""
  var selected_answer=""
  fetch(url, {
            method: "GET",
            headers: {
                "Content-type": "application/json; charset=UTF-8",
                "Authorization": 'Bearer ' + token 
            }
        })
        .then((response) => {
                
                    return response.json()

            })
         .then(function (data) {
          var options = data
          var HTML = ""
          for(var o in options)
          {
            var html = 
            `<div class="form-check">
          
          <input class="form-check-input answer-options" type="radio" name="questionbtn" id="ansid" value="${options[o].id}"  required>
          <label class="form-check-label" for="{{a.id}}">
            ${options[o].answer}
          </label>
        </div> `
        if(options[o].is_correct == true)
        {
          correct_answer = options[o].id
        }
        // console.log(correct_answer)
        HTML = HTML + html
        
          }
          document.getElementById("answeroption").innerHTML = HTML
        
          
          for (var i in options) {
                    var optionsBtn = document.getElementsByClassName('answer-options')[i]

                    optionsBtn.addEventListener('click', (function (item) {
                        return function () {
                            selected_answer = item
                            // console.log(selected_answer)
                        }
                    })(options[i]))
                }
        })
        var updateAnwer = document.getElementById('question-form')
        updateAnwer.addEventListener('submit', function (e) {
          e.preventDefault()
          var token = sessionStorage.getItem('Token')
          console.log(token)
          url_1 = "http://127.0.0.1:8000/quizapi/question/"
          url_2 = questionid + "/"
          url = url_1+ url_2
          console.log(correct_answer)
          console.log(selected_answer.id)
          var is_correct = false
          if(correct_answer == selected_answer.id)
          {
            // console.log("true")
            is_correct = true
          }
          // else
          // {
          //   console.log("incorrect")
          // }
          fetch(url,{
            method: "POST",
            headers: {
                "Content-type": "application/json;",
                "Authorization": 'Bearer ' + token 
            },
            body: JSON.stringify({
                "question": questionid,
                "is_correct": is_correct,
            })
        })
        .then((response) => {
         return response.json()
        })
        .then(function (data) {
          
        })

        })


 }

</script>

{% endblock %}